@{
    ViewData["Title"] = "Home Page";
}

<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Read books in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Discover what others are reading...</p>
        </div>
    </div>
</header>

<div class="mb-3">
    <h3 class="display-5 mb-lg-2">
        Featured books
        <small class="text-muted">Look what people are love to reading </small>
    </h3>
</div>
<div class="card-deck">
    <div class="card">
        <img src="https://via.placeholder.com/200x275" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="display-5" style="font-size:1.25rem"> $25<sup>85</sup></p>
            <h5 class="card-title display-5" style="font-size:1.1rem;">Another mouse in trap and another will come to die</h5>
            <p class="display-5">Mark King</p>
            @*<button type="button" class="btn btn-info">Quick Look</button>*@
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/200x275" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="display-5" style="font-size:1.25rem"> $25<sup>85</sup></p>
            <h5 class="card-title display-5" style="font-size:1.1rem;">Another mouse in trap and another will come to die</h5>
            <p class="display-5">Mark King</p>
            @*<button type="button" class="btn btn-info">Quick Look</button>*@
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/200x275" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="display-5" style="font-size:1.25rem"> $25<sup>85</sup></p>
            <h5 class="card-title display-5" style="font-size:1.1rem;">Another mouse in trap and another will come to die</h5>
            <p class="display-5">Mark King</p>
            @*<button type="button" class="btn btn-info">Quick Look</button>*@
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/200x275" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="display-5" style="font-size:1.25rem"> $25<sup>85</sup></p>
            <h5 class="card-title display-5" style="font-size:1.1rem;">Another mouse in trap and another will come to die</h5>
            <p class="display-5">Mark King</p>
            @*<button type="button" class="btn btn-info">Quick Look</button>*@
        </div>
    </div>

    <div class="card">
        <img src="https://via.placeholder.com/200x275" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="display-5" style="font-size:1.25rem"> $25<sup>85</sup></p>
            <h5 class="card-title display-5" style="font-size:1.1rem;">Another mouse in trap and another will come to die</h5>
            <p class="display-5">Mark King</p>
            @*<button type="button" class="btn btn-info">Quick Look</button>*@
        </div>
    </div>

</div>


