
@model HomePageViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<header class="bg-dark py-5 mb-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Read books in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Discover what others are reading...</p>
        </div>
    </div>
</header>

<div class="mb-3">
    <h3 class="display-5 mb-lg-2">
        Featured books
        <small class="text-muted">Look what people are love reading </small>
    </h3>
</div>
<div class="card-deck">
    <partial name="_bookCard" model="Model.FeaturedBooks" />
</div>


